 body {
            background-color: #4F4A67;
        }

        #logo {
            position: absolute;
            top: 5px;
            left: 10px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        #wrapper {
            border: solid 2px #C1FF9B;
            border-radius: 10px;
            width: 967px;
            margin: auto;
            background: #FFFCF7;
            overflow: hidden;
        }

        header {
            position: relative;
            height: 100px;
            border-bottom: 4px solid #9CF6F6;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 44px;
            color: black;
            flex-wrap: wrap;
            margin: 0;
            text-align: center;
            margin-top: 50px;
        }

        h2 {
            color: black;
        }

        nav {
            position: absolute;
            margin: 0 auto;
            width: 50%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        nav a {
            display: flex;
            align-self: center;
            text-decoration: none;
            color: #4F4A67;
        }

        nav a:hover {
            color: #4F4A67;
        }

        nav a:visited {
            color: #4F4A67;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 30px 30px;
        }

        .box {
            width: 150px;
            height: 100px;
            position: relative;
            color: black;
            border: 4px #C1FF9B solid;
        }

        footer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: solid 2px #C1FF9B;
            height: 30px;
        }

        footer a {
            text-decoration: none;
            color: #B89A57;
        }

        footer a:hover {
            color: #F3EBDD;
        }

        footer a:visited {
            color: #B89A57;
        }

        .images {
            display: flex;
            gap: 16px;
            padding: 16px;
        }

        .images img {
            flex: 1;
            height: 250px;
            object-fit: cover;
            border: 2px solid goldenrod;
        }
